{% extends 'core/base.html' %}

{% block body_main %}
  <main class="w-1/4">
    <form
        method="POST"
        action="{% url 'article-create-view'%}"
        class="flex flex-col"
    >
      {% csrf_token %}
      <label>
        Title
        <input
            type="text"
            name="title"
            class="w-full border rounded"
        />
      </label>
      <label>
        Content
        <textarea
          name="content"
          rows="5"
          cols="50"
          class="w-full border rounded"
        ></textarea>
      </label>
      <button type="submit" class="bg-green-200 rounded mt-3">Submit to review</button>
    </form>
  </main>
{% endblock body_main %}